@import "../../../../../typography";

:host {
  > * {
    padding: 1.5rem 7rem;
  }
  .header {
    display: flex;
    justify-content: space-between;

    button {
      height: 38px;
    }

    p {
      @include font-title;
    }
  }

  .container-house {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .custom-input {
      p {
        margin-bottom: 0;
      }
    }
  }

  // Hide number input spinner
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
