<div class="header">
  <p>{{ houseDetail.house_number || "Create house" }}</p>
  <button
    class="btn btn-outline-secondary"
    (click)="houseDetail.id ? updateHouse.emit() : createHouse.emit()"
  >
    {{ houseDetail.id ? "Update" : "Create" }}
  </button>
</div>

<div class="container-house" [formGroup]="form">
  <div class="custom-input">
    <p>House number</p>
    <input class="form-control" type="text" formControlName="houseNumber" />
    <span
      class="error"
      *ngIf="form.get('houseNumber')?.hasError('invalidHouseNumber')"
      >Your house number is already used</span
    >
  </div>

  <div class="custom-input">
    <p>Block number</p>
    <input class="form-control" type="text" formControlName="blockNumber" />
  </div>
  <div class="custom-input">
    <p>Land number</p>
    <input class="form-control" type="text" formControlName="landNumber" />
  </div>

  <app-dropdown
    [title]="'House type'"
    [items]="houseTypes"
    [value]="form.value.houseType"
    (changeItem)="changeValue.emit({ value: $event, nameControl: 'houseType' })"
  ></app-dropdown>

  <app-dropdown
    [title]="'House model'"
    [items]="houseModels"
    [value]="form.value.houseModel"
    (changeItem)="
      changeValue.emit({ value: $event, nameControl: 'houseModel' })
    "
  ></app-dropdown>

  <div class="custom-input">
    <p>Price</p>
    <input class="form-control" type="number" formControlName="price" />
  </div>
  <app-dropdown
    [title]="'Status'"
    [items]="status"
    [value]="form.value.status"
    (changeItem)="changeValue.emit({ value: $event, nameControl: 'status' })"
  ></app-dropdown>
</div>
