@import "../../../../../palette";

:host {
  max-height: 20rem;
  overflow: auto;
  display: block;
  .edit {
    color: map-get($blue-palette, 600);
    cursor: pointer;
    text-decoration: underline;
  }

  .header-table {
    position: sticky;
    top: 0;
    cursor: pointer;

    th {
      &:first-child {
        &.asc,
        &.desc {
          padding-left: 2rem;
        }
      }
    }
  }
}
