@import "../../../palette";

:host {
  height: 4rem;
  display: block;
  border-bottom: 0.1rem solid map-get($gray-palette, 300);

  .control-login {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    gap: 1rem;

    padding: 0 7rem;

    .action-login {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .form-control {
      max-width: 12rem;
    }

    .logout {
      cursor: pointer;
    }
  }
}
